* {
  box-sizing: border-box;
}
body {
  overflow-y: auto;
}
body::-webkit-scrollbar {
  display: none;
}

.fullpage-wrapper {
  display: flex;
  flex-direction: column;
  /* border: 3px solid blueviolet; */
  /* display: flex;
  flex-direction: row; */
  height: 100%;
}
.navbar {
  height: 5vh;
  position: fixed;
  background-color: #46505a;
  top: 0;
  min-width: 100%;
}
.challenge-wrapper {
  background: linear-gradient(#ffffff, rgb(235, 240, 255));
  min-width: 100%;
  height: 100vh;
  height: fit-content;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
}
@media screen and (max-width: 1200px) {
  .challenge-wrapper {
    grid-template-columns: 1fr;
  }
}

.challenge-left-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.challenge-right-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.challenge-left-wrapper div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  /*  border: 1px dotted red; */
}
.challenge-right-wrapper div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;
  /* border: 1px dotted red; */
}

.challenge-img-div {
  margin-top: 2vh;
  min-height: 38vh;
}

.challenge-img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 4px 4px #00000073;
  border-radius: 10px;
  /* object-fit: contain; */
}

.challenge-rawdata {
  font-size: 20px;
  border-radius: 10px;
  background-color: #7cb8f0;
  height: fit-content;
  margin-top: 2vh;
}
.challenge-rawdata span {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.challenge-labels {
  margin-top: 2vh;
}
.challenge-labels a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 5px;
}
.challenge-label {
  padding-right: 5px;
}
.challenge-label a {
  padding: 5px;
}

.challenge-rating {
  flex-grow: 1;
  margin-top: 2vh;
}
.challenge-github-btn {
  height: 100px;
  margin-bottom: 1.5vh;
}
.challenge-github-btn a {
  font-size: 26px;
  border: 2px solid #3a1e85;
  width: 100%;
  height: 100%;
}
.challenge-github-btn a:hover {
  background-color: #3a1e85;
  color: white;
  font-size: 26px;
  width: 100%;
  height: 100%;
  align-self: flex-end;
}

.challenge-title-description {
  display: flex;
  flex-direction: column;
  height: 40vh;
  /* height: fit-content; */
  /* margin-bottom: 0; */
}
h1 {
  font-size: 40px;
  color: black;
  text-align: center;
}
.challenge-description {
  flex-grow: 1;
  height: 100%;
  /* min-height: 100%; */
  background-color: #7cb8f0;
  color: black;
  min-width: 100%;
}

.challenge-description p {
  font-size: 24px;

  padding-left: 15px;
  padding-right: 15px;
}

.challenge-solution-table {
  margin-top: 2vh;
  font-size: 24px;
  /* background-color: #7cb8f0; */
  /* max-height: 725px; */
  flex-grow: 1;
  /* margin-top: 3vh; */
}

.challenge-submit-btn {
  height: 100px;
  margin-bottom: 1.5vh;
}
.challenge-submit-btn button {
  font-size: 26px;
  border: 2px solid #3a1e85;
  width: 100%;
  height: 100%;
}
.challenge-submit-btn button:hover {
  background-color: #3a1e85;
  color: white;
}
