@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body {
  margin: 0;
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEF2F7;
  overflow-x: hidden;
  /* font-family: "Roboto", sans-serif; */
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 6px !important;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
