
.user-profile-my-challenges-title {
  margin: 100px 0px 50px 0px;
  text-align: center;
  font-size: 50px;
}

.dark .user-profile-my-challenges-title {
  color: white;
}
.user-profile-my-challenges-container {
  /* display:flex;
    flex-direction: column;
    align-items: center; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: center;
  justify-content: center;
}

.user-profile-single-challenge-container {
  background-color: #d8dfe2;
  background: white;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 500px;
  margin-bottom: 30px;
  border-radius: 3px;
  color: black;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  align-self: center;
  justify-self: center;
  transition: scale 1s ease-in-out;
}
.dark .user-profile-single-challenge-container {
  color: white;
  background: rgb(60, 62, 65);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.116), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.151), 0 22.3px 17.9px rgba(0, 0, 0, 0.349),
    0 41.8px 33.4px rgba(0, 0, 0, 0.185), 0 100px 80px rgba(0, 0, 0, 0.322);
}
.user-profile-single-challenge-container:hover {
  transform: scale(1.006);
}
.user-profile-single-challenge-title {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.user-profile-single-challenge-labels-container {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
}
.user-profile-single-challenge-single-label {
  font-size: 11px;
  padding: 5px 8px;
  color: white;
  border-radius: 2px;
  background: linear-gradient(270deg, rgb(133, 133, 133) 0%, rgb(184, 184, 184) 100%);
  margin-right: 5px;
}
.user-profile-single-challenge-information-container {
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  word-break: break-all;
}
.user-profile-single-challenge-status {
  margin-top: auto;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 25px;
  border-radius: 3px;
  width: 70%;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.user-profile-my-challenges-button-container {
  text-align: center;
  margin: 30px 0px 50px 0px;
}
@media (max-width: 700px) {
  .user-profile-single-challenge-container {
    width: 400px;
  }
  .user-profil-my-challenges-title {
    font-size: 40px;
  }
}
