/* TODO: (Amit) refactor this all css with SASS (talk to tsach ot Dror) */
/* TODO: add hovers */
/* TODO: talk to shahar about dark mode */
* {
  box-sizing: border-box;
}
body {
  overflow-y: auto;
}

*::-webkit-scrollbar {
  display: none;
}

.fullpage-wrapper {
  display: flex;
  flex-direction: column;
  flex-direction: row; 
  height: 100%;
}
.navbar {
  height: 1.7em;
  position: fixed;
  background-color: #3f51b5;
  top: 0;
  min-width: 100%;
}
.light-challenge-wrapper {
  transition: 500ms;
  /* background: linear-gradient(#9b9b9b, rgba(235, 240, 255,0.1)); */
  background-color: #fffef5;
  min-width: 100%;
  height: 100%;
  color: black;
  font-family: 'PT Sans', sans-serif;
  font-weight: 800;
  margin-top: 1.7em;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
}
.dark-challenge-wrapper {
  transition: 500ms;
  background-color: #141e30;
  min-width: 100%;
  height: 100%;
  color: black;
  font-family: 'PT Sans', sans-serif;
  font-weight: 800;
  margin-top: 1.7em;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
}
@media screen and (max-width: 1200px) {
  .challenge-wrapper {
    grid-template-columns: 1fr;
  }
}

.challenge-left-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.challenge-right-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.challenge-left-wrapper div {
  margin-top: 100px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  /*  border: 1px dotted red; */
}
.challenge-right-wrapper div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  /* border: 1px dotted red; */
}

.challenge-img-div {
  margin-top: 2vh;
  min-height: 38vh;
  object-fit: contain;
  margin-bottom: -50px;;
}

.challenge-img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 4px 4px #00000073;
  border-radius: 10px;
  /* object-fit: contain; */
}

.challenge-rawdata {
  font-size: 20px;
  border-radius: 10px;
  background-color: #4b79a1;
  height: fit-content;
  margin-top: 2vh;
}
.challenge-rawdata span {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

  /* .challenge-labels {
  } */
.challenge-labels a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 5px;
}
.challenge-label {
  padding-right: 5px;
}
.challenge-label a {
  padding: 5px;
}

.challenge-rating {
  flex-grow: 1;
  margin-top: 2vh;
}
.challenge-github-btn {
  height: 100px;
  margin-bottom: 1.5vh;
}

.challenge-github-btn-dm {
  height: 100px;
  margin-bottom: 1.5vh;
}
.challenge-github-btn a {
  transition: 500ms;
  font-size: 26px;
  border: 2px solid #3a1e85;
  width: 100%;
  height: 100%;
  padding:6px;
}
.challenge-github-btn-dm a {
  transition: 500ms;
  font-size: 26px;
  border: 2px solid #ffffff;
  width: 100%;
  height: 100%;
  color: white;
  padding:6px;
}
.challenge-github-btn a:hover {
  transition: 500ms;
  background-color: #3a1e85;
  color: white;
  font-size: 26px;
  width: 100%;
  height: 100%;
  align-self: flex-end;
  padding:6px;
}

.challenge-github-btn-dm a:hover {
  transition: 500ms;
  background-color:  #ffffff;
  color: #3a1e85;
  font-size: 26px;
  width: 100%;
  height: 100%;
  align-self: flex-end;
  padding:6px;
}

.challenge-title-description {
  display: flex;
  flex-direction: column;
  height: 40vh;
  /* height: fit-content; */
  /* margin-bottom: 0; */
}
.light-h1 {
  transition: 500ms;
  font-size: 40px;
  color: black;
  text-align: center;
}
.dark-h1 {
  transition: 500ms;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.light-h2 {
  transition: 500ms;
  color: black;
}
.dark-h2 {
  transition: 500ms;
  color: white;
}
.challenge-description {
  flex-grow: 1;
  height: 100%;
  /* min-height: 100%; */
  background-color: #4b79a1;
  color: black;
  min-width: 100%;
}

.challenge-description p {
  font-size: 24px;

  padding-left: 15px;
  padding-right: 15px;
}

.challenge-solution-table {
  margin-top: 2vh;
  font-size: 24px;
  /* background-color: #4b79a1; */
  /* max-height: 725px; */
  flex-grow: 1;
  /* margin-top: 3vh; */
}


.challenge-submit-btn {
  height: 100px;
  margin-bottom: 1.5vh;
}

.challenge-submit-btn-dm {
  height: 100px;
  margin-bottom: 1.5vh;
}

.challenge-submit-btn button {
  transition: 500ms;
  font-size: 26px;
  border: 2px solid #3a1e85;
  width: 100%;
  height: 100%;
  padding:6px;
}

.challenge-submit-btn-dm button {
  color:white;
  transition: 500ms;
  font-size: 26px;
  border: 2px solid #ffffff;
  width: 100%;
  height: 100%;
  padding:6px;
}

.challenge-submit-btn button:hover {
  transition: 500ms;
  background-color: #3a1e85;
  color: white;
  padding:6px;
}


.challenge-submit-btn-dm button :hover {
  transition: 500ms;
  background-color:  #ffffff;
  color: #3a1e85;
  font-size: 26px;
  width: 100%;
  height: 100%;
  align-self: flex-end;
  padding:6px;
}