/* TODO: (amit nir) remove the red lines and find soulution for long reviews*/
.review {
    display: grid;
    grid-template-columns: 1.7fr 1.3fr;
    grid-template-rows: 0.9fr 2fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "title createdAt"
      "content content"
      "rating author";
    margin-bottom: 15px;
    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    padding:10px;
    text-align: center;
  }
  .title {
    text-align: left; 
      grid-area: title;
      margin-left: 20px; 
      font-weight: 900;
    }
  .content { 
      text-align: left;
      grid-area: content;
      margin-left: 20px; 
      margin-right: 20px;
      margin-top: 10px;
      word-wrap: break-word;
    }
  .createdAt { 
      grid-area: createdAt; 
      justify-self: end;
      margin-right:20px;
      text-align: right;
    }
  .rating { 
      grid-area: rating; 
      margin-left: 20px;
      text-align: left;
    }
  .author { 
      grid-area: author; 
      justify-self: end;
      margin-right:20px;
      text-align: right;
    }