.submission {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "name status submittedAt";
  margin-bottom: 20px;
}
#name {
  grid-area: name;
  justify-self: center;
}

#status {
  grid-area: status;
  justify-self: center;
}
#submittedAt {
  grid-area: submittedAt;
  justify-self: center;
}
