.dark  .home-page{
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #141e30, #243b55); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
.home-page{
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.home-page .filterMenu{
    width: 350px;
}

.home-page .filterMenu .toggleOpen:hover{
    background-color:#cc7a00;
}

.challenges-container{
    /* padding-top: 110px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}