.Landing-page-main {
    position: relative;
    width: 100%;
    height: 10000px;
    background: linear-gradient(171.52deg, #1E3D5B 4.43%, rgba(30, 61, 91, 0) 149.79%);
}

.Landing-page-Vector {
    position: absolute;
    background-image: url('../../images/Vector-3.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    top: 4%;
}

.Landing-page-title {
    display: flex;
    justify-content: center;
    padding-top: 20%;
}

.Landing-page-under-title-paragraph {
    position: absolute;
    width: 600px;
    padding-top: 10%;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 59px;
    text-align: center;
    letter-spacing: 0.245em;
    color: #FFFFFF;
}

.Landing-page-View {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 35%;
    height: 20%vh;
    width: 100vw;
}

.Landing-page-View-content {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 40%;
}

.Landing-page-View-content h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    height: 30%;
    font-size: 2.8rem;
    color: #FFFFFF;
}

.Landing-page-View-content p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
}

.Landing-page-stripes {
    position: absolute;
    float: right;
    padding-top: 25%;
    padding-left: 70%;
}

.Landing-page-Watch-Video {
    position: relative;
    top: 7%;
    cursor: pointer;
    margin-left: 45%;
    width: 20%;
    height: 0.8%;
    background: #FAFAFA;
    border: 1px solid #00AD98;
    box-sizing: border-box;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    color: #00AD98;
}

.Landing-page-Sections-Cards {
    position: relative;
    padding-top: 75%;
    display: flex;
    justify-content: space-evenly;
}

.Landing-page-Open-Source {
    position: relative;
    padding-top: 65%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    color: white;
}

.Landing-page-Open-Source-H2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    height: 30%;
    font-size: 2.8rem;
    align-self: center;
    color: #FFFFFF;
}

.Landing-page-Open-Source-P {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    align-self: center;
    line-height: 2rem;
    color: #FFFFFF;
    width: 40%;
    text-align: center;
}
/**/
.Landing-page-Open-Source-Button {
    width: 20%;
    background-color: transparent;
    min-width: 150px;
    color: white;
    border: 1px solid white;
    align-self: center;
    cursor: pointer;
}

.Heading-and-Buttons {
    position: absolute;
    width: 871px;
    height: 477.56px;
    left: 127px;
    top: 1043.44px;
}

/* go like lines */

.go-like-lines {
    position: absolute;
    width: 511.72px;
    height: 334px;
    left: 1294px;
    top: 1993px;
}

/* Watch Video */

/* Card explanation section */

.Card-explanation-section {
    position: absolute;
    width: 1654px;
    height: 661px;
    left: 163px;
    top: 3045px;
}

/* Contribute Heading */

/* Auto Layout */

.Auto-Layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    position: absolute;
    width: 456px;
    height: 154px;
    left: 791px;
    top: 7879px;
}

/* Its Open Source */

.Its-Open-Source {
    position: absolute;
    width: 1294px;
    height: 966px;
    left: 365px;
    top: 5138px;
}

/* Dont limit your challenges Challenge your Limits */

/* Frame 4 */

/* Auto Layout */

.Auto-Layout1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    position: absolute;
    width: 709px;
    height: 159px;
    left: 636px;
    top: 346px;
}

/* NavbarII */

.NavbarII {
    position: absolute;
    width: 1980px;
    height: 350px;
    left: 0px;
    top: 0px;
}

/* Project Leaders */

.Project-Leaders {
    position: absolute;
    width: 1832px;
    height: 1223px;
    left: 67px;
    top: 6276px;
}

/* Contribute Section */

.Contribute-Section {
    width: 2049px;
    height: 1653px;
    left: 1px;
    top: 7809px;
}

/* image 5 */

.image-5 {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 917px;
    top: 6666px;
    /* background: url(image.png); */
    border-radius: 400px;
}

/* image 6 */

.image-6 {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 1572px;
    top: 6667px;
    /* background: url(image.png); */
    border-radius: 55px;
}