.user-profile-landing {
  width: 100%;
  height: calc(100vh - 120px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-user-profile-landing {
  display: flex;
  align-items: center;
}
