
.home-page {
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(171.52deg, #1E3D5B 4.43%, rgba(30, 61, 91, 0) 149.79%);
}

.challenges-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
