
.chartNavBar{
    background-color: transparent!important;
}

.chart{
    /* height: auto !important; */
    
}

@media (max-width:1000px){
    .chart{
        height: 150px;
        width: 35vw;
    }
}
