.submission {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "name status submittedAt";
  margin-bottom: 20px;
  background-color: #00000032;
  /* overflow: hidden; */
  padding: 10px;
  text-align: center;
  width: 100% !important;
}
#name {
  grid-area: name;
  justify-self: center;
  margin: auto;
}
#status {
  grid-area: status;
  justify-self: center;
  margin: auto;
}
#submittedAt {
  grid-area: submittedAt;
  justify-self: center;
  margin: auto;
}
body::-webkit-scrollbar {
  display: none;
}
