.filterMenu{
  top:65px;
  transition: 0.3s;
  position: fixed;
  display: flex;
  flex-direction: row;
  left:0;
  height: 0;
  width:fit-content;
  z-index:2;
  pointer-events: none ;
}

.filterMenu *{
  pointer-events: auto ;
}

.filters{
  transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: white;
  height: 50vh;
  width: 0;
  overflow: hidden;
  padding:0;
}

.filters.open{
  transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);  
  border-width: 0 2px 2px 0px ;
  width: 90vw;
  z-index:2;
}

.filters>div>*{
  margin: 10px 0;
}

.toggleOpen{
  transition: .3s;
  background-color:#C9AC80;
  height:50px;
  min-width:50px;
  border-radius: 0 50% 50% 0;
  opacity: 0.7; 
}

.toggleOpen:hover{
 background-color:#cc7a00;
}
.filters h3{
  color:white;
  background-color: #C9AC80;
  padding-left: 10px;
  margin:0; 
  margin-bottom:5px;
} 
.labelFilter{
  width:80%
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}