.dark .toggleOpen{
  background-color: rgb(255, 100, 0,.3);
}

.dark .toggleOpen:hover{
  background-color: rgb(255, 100, 0); 
 }

 
.dark .filters{
  background-color: #333;
}

.dark .filters h3{
  background-color:#800080;
  color: #eee;
}

.dark .filterSubmit{
  color: rgb(93, 208, 243);
  border-color: rgb(93, 208, 243);
}
.dark .filterSubmit:hover{
  box-shadow: 0 0 10px 2px rgb(93, 208, 243)
  ;
}

.dark .filterClear{
  color: rgb(226, 34, 92);
  border-color: rgb(226, 34, 92);
}
.dark .filterClear:hover{
  box-shadow: 0 0 10px 2px rgb(226, 34, 92);
}

.dark .filterCancel{
  color: #eee;
  border-color: #eee;
}
.dark .filterCancel:hover{
  box-shadow: 0 0 10px 2px #eee;
}

.dark .labelFilter div{
  background-color: #444;
  color:#ddd;
}
.dark .labelFilter .css-1rhbuit-multiValue{
  border:1px solid #ddd;
}
.dark .timeFilter{
  color: #ddd;
}

/* try to implement orange range input */