.admin-page{
    width:100%;
    height: 100vh;
    overflow-y: auto;
}

.admin-landing-page{
    margin-top: 20vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.align-and-margin-top{
    margin-top: 100px;
    text-align:center;
    
}