.loginGeneral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(60deg, rgba(58, 106, 183, 0.7) 0%, rgba(213, 240, 255, 0.5) 100%); */
}
.containerHeaderLogin {
    margin-bottom: 450px;
    position: absolute;
    border-radius: 4px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.356);
    text-align: center;
    color: white;
    width: 450px;
    height: 160px;
    background: linear-gradient(
        90deg,
        rgb(49, 92, 171) 0%,
        rgb(69, 125, 199) 100%
    );
    display: flex;
    flex-direction: column;
}

.loginTitle {
    font-size: 40px;
    margin-top: 40px;
}

.orLoginWith {
    margin-top: 10px;
    margin-left: 10px;
}

.loginBody {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.972);
    border-radius: 5px;
    width: 600px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.548);
}

a {
    color: black;
}
.RememberAndforgot {
    width: 330px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.forgotLabel {
    /* margin-bottom: 20px; */
    margin-left: 55px;
}
.containerErrorLogin {
    position: absolute;
    margin-top: 300px;
    height: 30px;
    border-radius: 5px;
    width: 400px;
    color: white;
    background-color: rgba(255, 0, 0, 0.616);
    display: flex;

    align-items: center;
}
.errorInput {
    height: auto;
    margin-left: 5px;
    color: white;
}
@media (max-width: 700px) {
    .containerHeaderLogin {

        top:0;
        margin:0px;
        width: 100vw;
    }
    .loginBody {
        height: calc(100vh);
        width:100vw;
        
    }
    .containerErrorLogin {
        width:80vw;
        height: 50px;
    }
}