.filterMenu{
  transition: 1s;
  position: fixed;
  display: flex;
  flex-direction: row;
  /* display:grid; */
  /* grid-template-columns: 1fr 50px; */
  left:0;
  height: 100vh;
  width:100vw;
  z-index:2;
  pointer-events: none ;
}
.filterMenu *{
  pointer-events: auto ;

}
.filters{
  transition: 1s;
  background-color: white;
  height: 50vh;
  width: 0;
  overflow: hidden;
  padding:0;
}
.filters.open{
  border: 2px red outset;
  border-width: 0 2px 2px 0px ;
  width: 80vw;
  z-index:2;
}

.toggleOpen{
  transition: .5s;
  background-color: rgba(255,0,0,.3);
  height:50px;
  width:50px;
  border-radius: 0 50% 50% 0;
  
}

.toggleOpen:hover{
  background-color: rgb(255, 100, 0); 
}
.filters h3{
  background-color: orangered;
  margin:0; 
  margin-bottom:5px;
} 
.labelFilter{
  width:80%
}