#searchResults{
  margin-top: 10px;
  transition: .65s;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height:90vh;
  width:96vw;
  max-width: 400px;
  left:1.2vw;
  background-image:linear-gradient(to top, #555 ,#eaeaea);
  position:fixed;
  z-index:3;
  overflow: hidden;
  background-color: #fff;;
}
#searchResults>.display{
  color:white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: relative;

}
#searchResults.closed{
  border-radius:  0 0 50% 50%;
  height:0px;
  font-size:0;
  /* width:1px;
  left:50vw; */
  /* visibility: hidden; */
}
#no-results{
  align-self: center;
}

#searchResults .filterMenu{
  position:sticky;
}

#searchResults h3::before{
  content: ' Search ';
}

#searchResults .filters{
  transition: 1s;
}
#searchResults .filters.open{
  transition: 1s;
  max-width: 200px;
}