.dark #searchResults{
  /* background-image:linear-gradient(to top, #222 ,#777); */
  background: #141e30; /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #141e30, #243b55); /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: orangered
}

.dark #searchResults>.display{
  color:#eee;
}


