.MuiPaper-root{
    position: relative !important;
}

.makeStyles-chart-36 {
    height: auto !important;
}

.makeStyles-chart-36{
    height: auto !important;
}

.makeStyles-chart-104{
    height: auto !important;
}