.Carousel-Container {
    max-width: 80%;
    margin: auto;
    width: auto;
}

.Challenge-To-Carousel {
    border-radius: 2.1613px;
    box-shadow: inset 0px 15px 30px rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
    margin-left: 5px;
    height: 170.07px;
    background-repeat: no-repeat;
    background-size: 180% 100%;
    background-position: center;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 5px;
    padding-bottom: 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
    max-width: 250px;
}

.Challenge-To-Carousel-Link:hover {
    display: inline-block;
    height: 175px;
    width: 250px;
    overflow: hidden;
    transition: 0.5s;
}

.Challenge-To-Carousel:hover {
    height: 182px;
    z-index: 10;
    width: 300px;
}

.Challenge-To-Carousel:hover .Challenge-To-Carousel-Header {
    text-decoration: underline;
    text-decoration-color: white;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.9);
}

.alice-carousel__stage-item {
    width: auto!important;
    min-width: 250px;
}

.alice-carousel__stage-item:hover {
    text-decoration: underline;
    text-decoration-color: white;
    color: #FFFFFF;
}

.Challenge-To-Carousel-Header {
    margin-bottom: 10px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    width: 100%;
    font-size: 19px;
    line-height: 20px;
    margin-top: 10px;
}

.Challenge-To-Carousel-Author {
    margin-bottom: 10px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 144%;
    color: rgba(255, 255, 255, 0.65);
}

.Challenge-To-Carousel-Submission {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 144%;
}

.Challenge-To-Carousel-Button {
    width: 100px;
    background: rgba(0, 0, 0, 0.5);
    border: 0.801541px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24.8478px;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 12.82px;
    line-height: 20px;
    mix-blend-mode: normal;
    color: #FFFFFF;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
}

.Challenge-To-Carousel-Button:hover {
    color: black;
    background: linear-gradient(176.6deg, #FFFFFF -41.64%, rgba(255, 255, 255, 0) 207.73%);
    text-decoration: none;
    text-shadow: 20px 30px 60px rgba(0, 0, 0, 0.9);
}

.Challenge-To-Carousel-Link:hover {
    text-decoration: none;
}

.Challenge-To-Carousel-Link:focus {
    text-decoration: none;
}

.Challenge-To-Carousel-Link:active {
    text-decoration: none;
}

.Challenge-To-Carousel-Link:visited {
    text-decoration: none;
}

.Challenge-To-Carousel-Link:link {
    text-decoration: none;
}

.Carousel-Next-Button {
    position: relative;
    opacity: 1;
    width: 80px;
    float: right;
    cursor: pointer;
    margin-top: -185px;
    margin-right: -6px;
    height: 175px;
    border: none;
    font-size: 50px;
    color: white;
    background-color: rgb(0, 0, 0, 0.4);
    outline: none;
}

.Carousel-Next-Button:hover {
    background-color: rgb(0, 0, 0, 0.6);
}

.Carousel-Prev-Button {
    position: relative;
    opacity: 1;
    width: 80px;
    float: left;
    cursor: pointer;
    margin-top: -185px;
    margin-left: -6px;
    height: 175px;
    background-color: rgb(0, 0, 0, 0.4);
    border: none;
    outline: none;
    color: white;
}

.Carousel-Prev-Button:hover {
    background-color: rgb(0, 0, 0, 0.6);
}

@media (max-width: 950px) {
    .Carousel-Container {
        max-width: 95%;
    }
    .Challenge-To-Carousel {
        margin-left: 5px;
        height: 100px;
        margin-right: 0px;
        padding: 0px;
        max-width: 150px;
    }

    .alice-carousel__stage-item {
        width: 50px!important;
        min-width: 150px;
    }
    .Challenge-To-Carousel-Link:hover {
        height: 100px;
        width: 150px;
    }
    .Challenge-To-Carousel-Header {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .Challenge-To-Carousel-Author {
        margin-bottom: 10px;
        font-size: 8px;
        line-height: 144%;
    }
    .Challenge-To-Carousel-Submission {
        font-size: 9px;
        line-height: 144%;
    }
    .Carousel-Next-Button {
        opacity: 1;
        width: 40px;
        margin-top: -110px;
        margin-right: -6px;
        height: 100px;
        font-size: 50px;
    }
    .Carousel-Prev-Button {
        width: 40px;
        margin-top: -110px;
        margin-left: -6px;
        height: 100px;
    }
}