.home-page {
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  /* background: linear-gradient(171.52deg, #1E3D5B 4.43%, rgba(30, 61, 91, 0) 149.79%); */
}

.challenges-container {
  display: flex;
  flex-direction: column;
  /* margin-top: 100px; */
}

.All-Challenge-Image-Container {
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0px -200px 530px rgba(0, 0, 0, 0.9);
  padding-top: 530px;
  background-image: url('../images/allChallengesBackground.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative
}

.All-Challenge-Title-Container {
  width: 40%;
  height: 250px;
  left: 30%;
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  position: absolute;
  top: 280px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.All-Challenge-Challenges-Container {
  width: 100vw;
}

.All-Challenge-Carousel p {
  color: black;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 50px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}

.All-Challenge-Footer {
  display: block;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 768px) {}

@media (max-width: 950px) {

  .All-Challenge-Image-Container {
    padding-top: 235px;
    box-shadow: inset 0px -80px 235px rgba(0, 0, 0, 0.9);
  }
  .All-Challenge-Title-Container {
    width: 50%;
    height: 100px;
    left: 25%;
    box-shadow: 0px 30px 60px rgb(0 0 0 / 25%);
    top: 135px;
    font-weight: normal;
    font-size: 10px;
    line-height: 30px;
  }
  .All-Challenge-Choose-Labels>div>div>div {
    width: 100% !important;
  }
}