.dashboard-flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.paper-dashboard-chart {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px 50px;
    margin-bottom: 40px;
}

.dashboard-title-page {
    text-align: center;
    margin-bottom: 40px;
}

.dark .dashboard-title-page {
    color: white;
}

.dashboard-title-chart {
    text-align: center;
}

@media (max-width: 950px) {
    .Simple-Bar-Chart {
        width: 80vw !important;
    }
    .recharts-wrapper {
        width: 80vw !important;
    }
    .recharts-surface {
        width: 80vw !important;
    }
    .recharts-legend-wrapper {
        width: 80vw !important;
    }
}