body {
    background: linear-gradient(171.52deg, #1E3D5B 4.43%, rgba(30, 61, 91, 0) 149.79%);
}

.loginGeneral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    background: linear-gradient(171.52deg, #1E3D5B 4.43%, rgba(30, 61, 91, 0) 149.79%);
    padding-top: 0px;
}

.containerHeaderLogin {
    margin: 60px 75px 0px 75px;
    position: absolute;
    border-radius: 4px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.356);
    text-align: center;
    color: white;
    width: 450px;
    height: 130px;
    background: linear-gradient( 90deg, rgb(49, 92, 171) 0%, rgb(69, 125, 199) 100%);
    display: flex;
    flex-direction: column;
}

.containerBodyLogin {
    /* height: 47vh!important;
    min-height: 10px !important; */
}

.loginTitle {
    font-size: 40px;
    margin-top: 40px;
}

.orLoginWith {
    margin-top: 10px;
    margin-left: 10px;
}

.loginBody {
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.972);
    border-radius: 5px;
    width: 600px;
    height: 75vh;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.548);
}

.formBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userNameLoginInput {
    margin-top: 25% !important;
    margin-bottom: 4% !important;
    width: 100%;
}

.passwordLoginINput {
    margin-bottom: 4% !important;
    width: 100%;
}

.loginButton {
    margin-bottom: 10px!important;
    /* margin-top: 70px!important; */
    background: linear-gradient(45deg, #447CC6 30%, #315CAB 90%)!important;
    color: white !important;
}

a {
    color: black;
}

.RememberAndforgot {
    width: 330px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.login-register-line {
    margin-top: 45px!important;
    height: 50px;
    display: flex;
    align-content: center;
    line-height: 40px;
    width: 100%;
    justify-content: space-evenly;
}

.forgotLabel {
    /* margin-bottom: 20px; */
    margin-left: 55px;
}

.containerErrorLogin {
    position: absolute;
    margin-top: 250px;
    height: 30px;
    border-radius: 5px;
    width: 400px;
    color: white;
    background-color: rgba(255, 0, 0, 0.616);
    display: flex;
    align-items: center;
}

.errorInput {
    height: auto;
    margin-left: 5px;
    color: white;
}

.login-with-third-party {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 10vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.or-login-with-icon {
    height: 20px;
    width: 20px !important;
    margin-left: 10px;
}

@media (max-width: 700px) {
    .containerHeaderLogin {
        top: 0;
        margin: 0px;
        width: 100vw;
    }
    .loginBody {
        height: calc(100vh);
        width: 100vw;
    }
    .containerErrorLogin {
        width: 80vw;
        height: 50px;
    }
    .userNameLoginInput {
        margin-top: 220px;
    }
}