.One-Challenge-Page {
    width: 100%;
}

.One-Challenge-Page-Head {
    font-family: Ubuntu;
    font-style: normal;
    color: #FFFFFF;
}

.One-Challenge-Image-Container {
    z-index: 3;
    box-shadow: inset 0px -400px 2500px  rgba(0,0,0,0.9);

}

.One-Challenge-Page-Head img {
    position: absolute;;
    /* z-index: -2; */
    width: 100%;
    /* position: absolute; */
    /* box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9); */
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.6%, rgba(0, 0, 0, 0.52) 73.45%); */
    /* background-position: top; */
    /* border-radius: 2.1613px; */
}

.One-Challenge-Page-Head h1 {
    position: absolute;
    width: 757px;
    height: 132px;
    left: 166px;
    font-family: Ubuntu;
    font-style: normal;
    top: 27%;
    font-weight: bold;
    font-size: 60px;
    line-height: 69px;
    display: flex;
    align-items: center;
}

.One-Challenge-Page-Head h2 {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 490px;
    height: 96px;
    left: 120px;
    top: 40%;
    font-weight: 500;
    font-size: 18px;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.One-Challenge-Page-Head p {
    position: absolute;
    width: 870px;
    height: 96px;
    left: 172px;
    top: 45%;
    font-weight: 500;
    font-family: Ubuntu;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.One-Challenge-Page-Head ul {
    position: absolute;
    width: 870px;
    height: 96px;
    left: 80px;
    top: 55%;
    font-weight: 500;
    font-size: 18px;
    font-family: Ubuntu;
    font-style: normal;
    line-height: 21px;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
}

.One-Challenge-Page-Head ul span {
    position: relative;
    margin-left: 55px;
    width: 60px;
    height: 20px;
    padding: 5px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 30%;
}

.One-Challenge-Page-Head ul span:hover {
    box-shadow: inset 0px -400px 2000px  rgba(255, 255, 255, 0.9);
}