.registerGeneral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(60deg, rgba(58, 106, 183, 0.7) 0%, rgba(213, 240, 255, 0.5) 100%); */
}

.containerHeaderRegister {
    margin-bottom: 475px;
    position: absolute;
}

.registerHeader {
    border-radius: 4px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.356);
    text-align: center;
    color: white;
    width: 450px;
    height: 160px;
    background: linear-gradient(
        90deg,
        rgb(49, 92, 171) 0%,
        rgb(69, 125, 199) 100%
    );
    display: flex;
    flex-direction: column;
}

.registerTitle {
    font-size: 40px;
}

.registerBody {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.972);
    border-radius: 5px;
    width: 600px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.548);
}

.containerUserDetails,
.containerPersonalDetails,
.containerSecurity,
.containerExtra {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MuiPaper-root.MuiStepper-root.MuiStepper-horizontal {
    background-color: transparent;
}
span.MuiTypography-root.MuiStepLabel-label.MuiStepLabel-alternativeLabel.MuiTypography-body2.MuiTypography-displayBlock {
    font-size: 10px;
}
span.MuiStepConnector-line.MuiStepConnector-lineHorizontal {
    background-color: rgb(182, 182, 182);
}
.containerButtonsRegister {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerErrorRegister {
    position: absolute;
    margin-top: 295px;
    height: 40px;
    border-radius: 5px;
    width: 400px;
    color: white;
    background-color: rgba(255, 0, 0, 0.616);
    display: flex;
    align-items: center;
}
.errorInputRegister {
    height: auto;
    margin-left: 5px;
    color: white;
}


.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
    width:500px;
    left: auto !important;
    margin-left: auto ;
    margin-right: auto ;
}
