
.user-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info-container {
  background-color: white;
  width: 50vw;
  margin: 100px 0px 40px 0px;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.dark .user-info-container {
  background: rgb(60, 62, 65);
  color: white;
}

.dark .user-info-container label {
  color: rgb(202, 202, 202);
}
.dark .user-info-container input {
  color: white;
}

.edit-mode-container {
  margin-left: 25px;
}

.edit-icon {
  margin-top: 30px;
}

@media (max-width: 700px) {
  .user-info-container {
    width: 95vw;
  }
}
