
.ticketName {
  /* grid-area: name; */
  justify-self: start;
  font-size: larger;
  font-weight: bold;
}
.ticketRating {
  justify-self: end;
  font-size: larger;
  font-weight: bold;
}
.SearchTicket {
  border-bottom: 3px solid #aaa;
  padding: 10px;
  display: grid;
  grid-template-columns: 15% 1fr 20%;
  align-items: center;
  color: black;
  /* grid-template-areas: 'avatar name rating'; */
}
.SearchTicket:hover {
  background: rgba(50, 50, 50, 0.5);
  color: white;
}
