#searchResults{
  margin-top: 10px;
  transition: .7s;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height:80vh;
  width:96vw;
  max-width: 400px;
  left:1.2vw;
  background-image:linear-gradient(to top, #555 ,#eaeaea);
  position:fixed;
  z-index:3;
  overflow-y: scroll;
  background-color: #fff;;
  border-left:10px solid #e2ccac;
  border-bottom:10px solid #e2ccac;
  border-radius:  0 0 10px 15px;
}
#searchResults.closed{
  transition: 1.2s;
  border-bottom:0px solid navy;
  border-radius:  0 0 50% 50%;
  height:0px;
  font-size:0;
  /* width:1px;
  left:50vw; */
  /* visibility: hidden; */
}
#searchResults>.display{
  color:white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: relative;
}
#no-results{
  align-self: center;
}
#searchResults::-webkit-scrollbar {
  width:10px;
}
#searchResults::-webkit-scrollbar-track {
  width:10px;
  /* background-color: red; */
}
#searchResults::-webkit-scrollbar-thumb {
  transition: .5s;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}
#searchResults::-webkit-scrollbar-thumb:hover {
  transition: .5s;
  background-color: rgba(255, 255, 255, .3);
}

.searchClose{
  /* position: absolute; */
  right: 0px;
  top: 0px;
  transition: .2s;
  cursor: pointer;
  width:fit-content;
  align-self: flex-end;
  color: rgba(255, 255, 255, .5);
  /* background-color:blue; */
  background-color: rgba(180, 11, 11, .6);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border:none;
  margin: 2px;
  padding-left: 5.5px;
  font-weight: bolder;
}

.searchClose:hover{
  transition: .3s;
  top:2.5px;
  right:2.5px;
  color: rgb(255, 255, 255);
  background-color: rgba(212, 18, 18, 0.8);
  /* width: 2em;
  height: 2em; */
  
}

#searchResults .filterMenu{
  position:sticky;
  top:10px;
}

#searchResults h3::before{
  content: ' Search ';
}

#searchResults .filters{
  transition: 1s;
  max-width: 200px;
}
#searchResults .filters.open{
  transition: 1s;
  max-width: 300px;
}

.selectLabels{
  color: black;
}
